<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>322694454463-oet3i6i29368elf10j0825ejlobcv49t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.322694454463-oet3i6i29368elf10j0825ejlobcv49t</string>
	<key>API_KEY</key>
	<string>AIzaSyA3di7a7TWszQKg09VWMzumZ3Ga_aBoDrE</string>
	<key>GCM_SENDER_ID</key>
	<string>322694454463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felicemarano.Tremme-Engineering</string>
	<key>PROJECT_ID</key>
	<string>tremme-95356</string>
	<key>STORAGE_BUCKET</key>
	<string>tremme-95356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:322694454463:ios:e6f3d1a3108e4beeea7a0a</string>
</dict>
</plist>